
.container__action {
  display: flex;
  border: 5px solid #000000;
  border-radius: 5px;
  margin: 30px auto 20px;
  width: 70%;
  position: relative;
  height: auto;
}

.action__editor {
  border-right: 7px solid #000000;
  background-color: white;
  color: black;
  width: 40%;
}

.action__editor_head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px #98909070;
  column-gap: 30px;
}

.action__content {
  padding: 10px;
}

.action ._header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.55);
}

.action__input-wrap {
  display: flex;
  flex-direction: column;
}

.input__text {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  width: calc(100%);
}

.blink-effect {
  background: rgba(31, 203, 197, 0.3);
  animation: input-blink 1s infinite;
}

.input__text:focus {
  background: rgb(255, 255, 255);
}

.action__title {
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 0.05rem;
}

.action__viewer {
  background-color: #575757;
  width: 60%;
}

.action-panel__desc {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}

.viewer__content, .viewer__span {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: default;
  color: rgba(255, 255, 255, 0.27);
}


@keyframes input-blink {
  50% {
    background: none;
  }
}

.print-effect {
  white-space: nowrap;
  overflow: hidden;
}

@keyframes print {
  from {
    width: 0;
  }
}


@media (max-width: 800px) {

  .container__action {
    width: 350px;
  }

}

@media (max-width: 635px) {

  .container__action {
    width: 280px;
  }

  .action__editor {
    font-size: 12px;
  }

  .action__header div {
    width: 45%;
  }

  .action__title {
    font-size: 12px;
  }

  .action__border {
    left: calc(50% - 8px);
  }

  .input__text {
    width: 125px;
  }

}
